In [ ]:
#%%

import pandas as pd

In [ ]:
#%%

# Reading the database
data = pd.read_csv("students.csv")

In [ ]:
#%%

# Printing the top 10 rows
display(data.head(10))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,grade
0,female,group B,bachelor's degree,standard,none,72,72.0,74,8.0
1,female,group C,some college,standard,completed,69,90.0,88,7.0
2,female,group B,master's degree,standard,none,90,95.0,93,7.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44,8.0
4,male,group C,some college,standard,none,76,78.0,75,8.0
5,female,group B,associate's degree,standard,none,71,83.0,78,7.0
6,female,group B,some college,NaN,completed,88,95.0,92,NaN
7,male,group B,some college,free/reduced,none,40,43.0,39,8.0
8,male,group D,high school,free/reduced,completed,64,64.0,67,NaN
9,female,group B,high school,free/reduced,none,38,60.0,50,9.0

In [ ]:
#%%

# Show the dataset info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        975 non-null    object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                976 non-null    float64
 7   writing score                1000 non-null   int64
 8   grade                        985 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [ ]:
#%%

# Missing Value Checking
data.isna().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                          25
test preparation course         0
math score                      0
reading score                  24
writing score                   0
grade                          15
dtype: int64

In [ ]:
#%%

# Filling Nan Value with mode
data['lunch'].fillna(data['lunch'].mode()[0], inplace=True)

<ipython-input-6-68c9ee210ef6>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['lunch'].fillna(data['lunch'].mode()[0], inplace=True)

In [ ]:
#%%

# Filling Nan Value with mean
data['reading score'].fillna(data['reading score'].mean(), inplace=True)

<ipython-input-7-c2c05f36d5bf>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['reading score'].fillna(data['reading score'].mean(), inplace=True)

In [ ]:
#%%

# Filling Nan Value with median
data['grade'].fillna(data['grade'].median(), inplace=True)

<ipython-input-8-0dd774d48062>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['grade'].fillna(data['grade'].median(), inplace=True)

In [ ]:
#%%

# Check the information of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   float64
 7   writing score                1000 non-null   int64
 8   grade                        1000 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [ ]:
#%%

# Interpolate the Missing Value
data['lunch'].interpolate(method='linear', inplace=True)

<ipython-input-10-caa8e3f6128f>:3: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data['lunch'].interpolate(method='linear', inplace=True)

In [ ]:
#%%

# Backward fill the missing value
data['gender'].fillna(method='bfill', inplace=True)

<ipython-input-11-fdff51def0d8>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['gender'].fillna(method='bfill', inplace=True)
<ipython-input-11-fdff51def0d8>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['gender'].fillna(method='bfill', inplace=True)

In [ ]:
#%%

# Forward fill the missing value
data['gender'].fillna(method='ffill', inplace=True)

<ipython-input-12-e828a5b932b6>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['gender'].fillna(method='ffill', inplace=True)

In [ ]:
#%%

# Drop NaN Value
data.dropna(subset=['lunch'], inplace=True)

In [ ]:
#%%

# Drop feature with more than 50% NaN values
data.drop('lunch', axis=1, inplace=True)